In [ ]:
import lightgbm as lgb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics

In [ ]:
df = pd.read_csv('train_data_.csv')

West Region

In [ ]:
west = df.loc[df['Region'] == "WEST"]
west = west.drop(['Warehouse id', 'Region', 'SKU id'], axis = 1)
west

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,...,Aug-20,Sep-20,Oct-20,Nov-20,Dec-20,Jan-21,Feb-21,Mar-21,Apr-21,May-21
445,90,69,48,33,18,51,105,42,30,54,...,105,99,126,141,138,24,288,135,87,117
446,127,71,11,31,63,43,175,51,247,27,...,55,315,211,143,95,43,115,171,103,155
447,20,23,29,23,41,20,20,20,20,20,...,20,20,29,26,32,20,26,23,59,20
448,36,31,37,28,29,43,54,27,17,31,...,62,50,80,82,83,92,95,134,93,21
449,105,21,45,42,12,30,18,21,6,96,...,177,204,252,150,78,492,303,117,210,234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,41,9,9,9,9
749,90,256,106,62,78,90,98,142,118,78,...,14,22,62,22,64,174,190,194,26,62
750,66,150,186,30,42,90,69,96,69,12,...,6,6,36,24,54,96,120,138,12,30
751,17,23,11,17,11,53,23,41,17,29,...,11,11,71,35,59,77,29,23,11,71
752,76,28,20,28,20,44,116,100,88,244,...,20,20,20,20,20,164,124,52,28,36

In [ ]:
x = west.drop(["May-21"], axis = 1)
y = west["May-21"]
y = pd.DataFrame(y)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
x = sc_x.fit_transform(x)
y = sc_y.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 42)

In [ ]:
model = lgb.LGBMRegressor()
model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LGBMRegressor()

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
print(metrics.r2_score(y_test, y_pred))

0.2513021127688201

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error as mae

mae(y_pred, y_test)

2.7684261186813797

North Region

In [ ]:
north = df.loc[df['Region'] == "NORTH"]
north = north.drop(['Warehouse id', 'Region', 'SKU id'], axis = 1)

In [ ]:
x1 = north.drop(["May-21"], axis = 1)
y1 = north["May-21"]
y1 = pd.DataFrame(y1)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
x1 = sc_x.fit_transform(x1)
y1 = sc_y.fit_transform(y1)

In [ ]:
from sklearn.model_selection import train_test_split
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.33, random_state = 42)

In [ ]:
model.fit(x1_train, y1_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LGBMRegressor()

In [ ]:
y1_pred = model.predict(x1_test)
print(metrics.r2_score(y1_test, y1_pred))

0.13025003371616906

In [ ]:
mae(y1_pred, y1_test)

2.9165688717522897

South Region

In [ ]:
south = df.loc[df['Region'] == "SOUTH"]
south = south.drop(['Warehouse id', 'Region', 'SKU id'], axis = 1)

In [ ]:
x2 = south.drop(["May-21"], axis = 1)
y2 = south["May-21"]
y2 = pd.DataFrame(y2)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
x2 = sc_x.fit_transform(x2)
y2 = sc_y.fit_transform(y2)

In [ ]:
from sklearn.model_selection import train_test_split
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size = 0.33, random_state = 42)

In [ ]:
model.fit(x2_train, y2_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LGBMRegressor()

In [ ]:
y2_pred = model.predict(x2_test)
print(metrics.r2_score(y2_test, y2_pred))

0.5009692349808941

In [ ]:
mae(y2_pred, y2_test)

1.0590651550808705

East Region

In [ ]:
east= df.loc[df['Region'] == "EAST"]
east = east.drop(['Warehouse id', 'Region', 'SKU id'], axis = 1)

In [ ]:
x3 = east.drop(["May-21"], axis = 1)
y3 = east["May-21"]
y3 = pd.DataFrame(y3)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
x3 = sc_x.fit_transform(x3)
y3 = sc_y.fit_transform(y3)

In [ ]:
x3_train, x3_test, y3_train, y3_test = train_test_split(x3, y3, test_size = 0.33, random_state = 42)

In [ ]:
model.fit(x3_train, y3_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LGBMRegressor()

In [ ]:
y3_pred = model.predict(x3_test)
print(metrics.r2_score(y3_test, y3_pred))

0.3883188311658019

In [ ]:
mae(y3_pred, y3_test)

1.1614047663713918

All regions combined

In [ ]:
df = df.drop(['Warehouse id', 'Region', 'SKU id'], axis = 1)

In [ ]:
x4 = df.drop(["May-21"], axis = 1)
y4 = df["May-21"]
y4 = pd.DataFrame(y4)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y = StandardScaler()
x4 = sc_x.fit_transform(x4)
y4 = sc_y.fit_transform(y4)

In [ ]:
from sklearn.model_selection import train_test_split
x4_train, x4_test, y4_train, y4_test = train_test_split(x4, y4, test_size = 0.33, random_state = 42)

In [ ]:
model.fit(x4_train, y4_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LGBMRegressor()

In [ ]:
y4_pred = model.predict(x4_test)
print(metrics.r2_score(y4_test, y4_pred))

0.5815214997082637

In [ ]:
mae(y4_pred, y4_test)

2.51401551858267